In [2]:
"""
타이타닉 생존자 예측 프로잭트(오하림)

1. 데이터셋 불러오기
2. feature 분석
3. feature engineering
"""

'\n타이타닉 생존자 예측 프로잭트(오하림)\n\n1. 데이터셋 불러오기\n2. feature 분석\n3. feature engineering\n'

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [10]:
def load_and_analyze_data():
    """
    1. 데이터셋 불러오기
    """
    # 데이터셋 불러오기
    titanic = sns.load_dataset('titanic')

    """
    2. feature 분석
    """
    print("===2. feature 분석 ===")
    
    # 2.1 데이터 기본 정보
    print("\n2.1 데이터 기본 정보")
    print(titanic.head())
  
    # 2.2 데이터 통계
    print("\n2.2 데이터 통계")
    print(titanic.describe())
    
    # 2.3 데이터 통계 분석
    print("\n2.3 데이터 통계 분석")
    print("count는 데이터의 총 개수입니다. 결측값없이 데이터가 존재함을 보여줍니다.")
    print("mean는 평균값입니다. 데이터의 중심경향을 보여줍니다.")
    print("std는 표준편차입니다. 데이터 값들의 흩어짐 정도를 보여줍니다.")
    print("min는 최솟값입니다. 데이터 중 가장 작은 값을 보여줍니다.")
    print("25%는 1사분위수입니다. 데이터의 하위 25%에 해당하는 값을 보여줍니다.")
    print("50%는 중위수입니다. 데이터 중앙에 해당하는 값을 보여줍니다.")
    print("75%는 3분위수입니다. 데이터 상위25%를 제외한 값을 보여줍니다.")    
    print("max는 최대값입니다. 데이터중 가장 큰 값을 보여줍니다.")

    # 2.4 결측치 개수 확인
    print("\n2.4 결측치 개수")
    print(titanic.isnull().sum())
    return titanic



if __name__ == "__main__":
    titanic = load_and_analyze_data()

=== 1. 데이터셋 불러오기 ===
데이터셋의 기본 정보:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

=== 2. 데이터 분석 ===

2.1 기본 통계 정보
          survived      pclass   sex         age       sibsp       parch  \
count   891.000000  891.000000   891  714.000000  891.000000  891.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   577         NaN         NaN         NaN
mean      0.383838    2.308642   NaN   29.699118    0.523008    0.381594
std       0.486592    0.836071   NaN   14.526497    1.102743    0.806057
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male deck  embark_town alive  \
count   891.000000      889    891  891        891  203          889   891
unique         NaN        3      3    3          2    7            3     2
top            NaN        S  Third  man       True    C  Southampton    no
freq           NaN      644    491  537        537   59          644   549
mean     32.204208      NaN    NaN  NaN        NaN  NaN          NaN   NaN
std      49.693429      NaN    NaN  NaN        NaN  NaN          NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
25%       7.910400      NaN    NaN  NaN        NaN  NaN          NaN   NaN
50%      14.454200      NaN    NaN  NaN        NaN  NaN          NaN   NaN
75%      31.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN  NaN          NaN   NaN

       alone
count    891
unique     2
top     True
freq     537
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

2.2 결측치 개수 확인
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

=== 3. 데이터 전처리 ===

3.1 결측치 처리

결측치 처리 후 확인:
survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

3.2 범주형 데이터 인코딩

인코딩 후 데이터 예시:
   sex  alive  embarked
0    0      0         2
1    1      1         0
2    1      1         2
3    1      1         2
4    0      0         2

3.3 새로운 Feature 생성
   sibsp  parch  family_size
0      1      0            2
1      1      0            2
2      0      0            1
3      1      0            2
4      0      0            1

=== 4. 모델 학습 (XGBoost) ===

4.1 데이터 준비

4.2 데이터 스케일링

4.3 XGBoost 모델 생성 및 학습

4.4 모델 평가
XGBoost 모델의 MSE: 0.19553072625698323
XGBoost 모델의 정확도: 0.8045

In [ ]:
sf